.header {
    padding: 30px 30px;
    background: #E4E4E4;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 50%;
        width: 100%;
    }

    &__logo {
        font-size: 2.1rem;
        color: rgba(0,0,0,.55);
    }

    &__status {
        display: block;
        display: flex;
        color: rgba(0,0,0,.7);
        font-size: 1.6rem;

        cursor: pointer;
    }

    &__bell {
        position: relative;

        margin-right: 11px;

        &::before {
            content: "";
            display: block;
            width: 11px;
            height: 11px;
            background: #8D8D8D;
            border-radius: 50%;

            position: absolute;
            top: -5px;
            left: 7px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__right {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding: 30px 10px;
        &__bell + span {
            display: none;
        }
    }
}