.sidebar {
    background-color: #E4E4E4;
    padding: 30px 0;

    width: 20%;
    min-height: 100vh;

    &__company-name {
        font-size: 2.1rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.55);

        margin-bottom: 45px;
        margin-left: 35px;
    }

    &-list {
        &__item {
            font-weight: 400;
            font-size: 1.6rem;
            color: rgba(0,0,0,.6);
            padding: 15px;
            padding-left: 75px;
            position: relative;
            
            cursor: pointer;

            transition: background-color .5s ease;

            &:hover {
                background-color: #D9D9D9;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &::before {
                content: "";
                display: block;
                background-color: #ADADAD;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 40px;
                transform: translateY(-50%);
            }

            &.active {
                background-color: #D9D9D9;

                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 500;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(-120%);

        transition: transform .5s ease;

        &-list {
            display: flex;
            flex-direction: column;

            &__item {
                display: inline;
                font-weight: 700;
                padding: 0;
                font-size: 2rem !important;

                transition: opacity .5s ease;

                &::before {
                    display: none;
                }

                &:hover {
                    background-color: inherit;

                    opacity: .8;
                }

                &.active {
                    background-color: inherit;
    
                    &:hover {
                        opacity: 1;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 25px;
                }

                a.button {
                    text-decoration: none !important;
                }
            }
        }

        &.open {
            transform: translateX(0); 
        }

        &__menu-close {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }
}