.error {
    width: 100%;
    font-size: 1.6rem;
    color: red;
    background: #FFF2F2;
    padding: 10px 25px;

    display: flex;

    border-left: 3px solid red;

    margin-top: 15px;

    span {
        margin-left: 12px;
    }

    svg {
        margin-top: 3px;
        width: 20px;
    }
}